<div class="text-center">
    <!--<h4 ng-repeat="n in principal">{{n}}</h4-->

    <div class="row">
        <div class="col-md-3">            
            <div class="panel panel-info">
                  <div class="panel-heading">
                        <h3 class="panel-title">                            
                            Loan data</h3>
                  </div>
                  <div class="panel-body">
                         <form  class="form-horizontal" role="form" name="loanForm">                                                          
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Amount</span>
                                    <input type="number" class="form-control" placeholder="Loan Amount" aria-describedby="basic-addon1">
                                </div>                    
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Rate %</span>
                                    <input type="number" class="form-control" placeholder="Rate" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group ">
                                    <span class="input-group-addon" id="basic-addon1">Duration</span>
                                    <input type="number" class="form-control" placeholder="Duration" aria-describedby="basic-addon1">                        
                                </div>
                            <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Add. Payment</span>
                                    <input type="number" class="form-control" placeholder="Additional Payment" aria-describedby="basic-addon1">                        
                                </div>                 
                                <br>
                                <button class="btn btn-danger btn-block" ng-click="calculateLoan()">                        
                                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>                        
                                    Calculate
                                </button>
                        </form>
                  </div>
            </div>                                              
        </div>
            
        <div class="col-md-9">
             <div class="col-md-8">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                                <h3 class="panel-title">Monthly Corelation</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="bar" class="chart chart-bar"  chart-data="data" chart-labels="labels"> chart-series="series"</canvas>                                
                        </div>
                    </div>    
                </div>       

            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                                <h3 class="panel-title">Total Corelation</h3>
                        </div>
                        <div class="panel-body">
                            <canvas id="doughnut" class="chart chart-doughnut"  chart-data="dataDoughnut" chart-labels="labelsDoughnut"></canvas> 
                                
                                <div class="pull-left">
                                    <span class="label label-info">Total: </span><span class="lb-value">{{total_paid}}</span><br>
                                    <span class="label label-info">Intrest: </span><span class="lb-value">{{intrest_paid}}</span><br>
                                    <span class="label label-info">Principal: </span><span class="lb-value">{{principal_paid}}</span><br>                                                                                       
                                </div>
                        </div>
                    </div>    
                </div>
               

                 <div class="col-md-12">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                                <h3 class="panel-title">Graphic Corelation</h3>
                        </div>
                        <div class="panel-body">
                           <canvas id="line" class="chart chart-line" chart-data="dataLC" chart-labels="labelsLC" chart-series="seriesLC" chart-options="optionsLC"
                                chart-dataset-override="datasetOverrideLC" chart-click="onClick"></canvas
                    </div>    
                </div>       
            </div><!--<div class="row">-->
            
        </div>
    </div>
   

</div>